<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Listado de Provincias</h1>
    </header>
    <section>

        <table id="tblProvincias">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Completo</th>
                    <th>Nombre</th>
                </tr>
            </thead>
        </table>
    </section>
    <footer>

    </footer>

    <script src="../../public/js/provincia.js"></script>
</body>
</html>